<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">User Loggers</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cookie</th>
                    <th>Available Days</th>
                    <th>Cookie Validity</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% caliel_loggers.forEach(function(user) { %>
                    <tr>
                        <form action="./caliel/edit-logger" method="POST">
                            <input type="hidden" name="originurl" value="<%= originurl %>">
                            <input type="hidden" name="caliel_id" value="<%= user.caliel_id %>">
                            <td><%= user.caliel_id %></td>
                            <td>
                                <div class="card">
                                    <div class="card-body">
                                        <input type="password" class="form-control" name="cookie" value="<%= user.cookie %>">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="card">
                                    <div class="card-body">
                                        <% var days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']; %>
                                        <% days.forEach(function(day) { %>
                                            <% if (user.days && user.days.includes(day)) { %>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="day-<%= day %>" name="days" value="<%= day %>" checked>
                                                    <label class="form-check-label" for="day-<%= day %>"><%= day %></label>
                                                </div>
                                            <% } else { %>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="day-<%= day %>" name="days" value="<%= day %>">
                                                    <label class="form-check-label" for="day-<%= day %>"><%= day %></label>
                                                </div>
                                            <% } %>
                                        <% }); %>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <% if (user.val_cookie==1){ %>
                                    Valid
                                    <% }else{ %>
                                    Not Valid
                                    <% } %>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </td>
                        </form>
                        <td>
                            <form action="./caliel/test-cookie" method="POST">
                                <input type="hidden" name="originurl" value="<%= originurl %>">
                                <input type="hidden" name="caliel_id" value="<%= user.caliel_id %>">
                            <button type="submit" class="btn btn-primary">Test Cookie</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>